.twitchChaineEnLigne {
	display: grid;
	grid-template-columns: 105px 1fr;
	/* grid-template-rows: auto; */
	grid-template-areas: 
	"logo info";
	vertical-align: middle;
}

.twitchChaineHorsLigne {
	display: grid;
	grid-template-columns: 105px 1fr;
	/* grid-template-rows: auto; */
	grid-template-areas: 
	"logo info";
	vertical-align: middle;
}


.logoTwitch{
	grid-area: logo;
}

.infoTwitch{
	grid-area: info;
}

@media (max-width: 450px) {
	.twitchChaineEnLigne {
		display: grid;
		text-align: center;
		grid-template-columns: 105px 1fr;
		/* grid-template-rows: auto; */
		grid-template-areas: 
		"logo info";
		vertical-align: middle;
	}
	
	.twitchChaineHorsLigne {
		display: grid;
		text-align: center;
		grid-template-columns: 105px 1fr;
		/* grid-template-rows: auto; */
		grid-template-areas: 
		"logo info";
		vertical-align: middle;
	}

	.logoTwitch{
		grid-area: logo;
	}
	
	.infoTwitch{
		grid-area: info;
	}
 }